.head_logo{
	width:50px;
	display:inline;
}
.header{
	background-color:#001379;
}
.head-right{
	position:relative;
	right:-150px;
}
.detail-box{
	height:500px;
}
.detail-img{
	position:relative;
	left:-30px;
}
.detail-declare{
	position:absolute;
	top:45px;
	left:52%;
}