*{
	margin:0px;
	padding:0px;
}
#container{
	width:120%;
	background-color:#001379;
	height:150px;
}

.main_logo{
	width:90px;
	position:absolute;
	left:200px;
	top:15px;
}
.main_car{
	position:absolute;
	height:200px;
	top:-47px;
	left:57%;
	z-index:1;
}
.main_title{
	font-size:47pt;
	color:white;
	position:absolute;
	left:29%;
	top:33px;
	z-index:3;
	text-shadow: -1px 0 #3a3a3a, 0 1px #3a3a3a, 1px 0 #3a3a3a, 0 -1px #3a3a3a;
}
.main_btn{
	background-color: #001379;
    border-width: 1.7px;
    border-color:white;
    border-style:solid;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius:7px;
    z-index:2;
}
.login_btn{
	position:absolute;
	left:84%;
	top:10px;
}
.join_btn{
	position:absolute;
	left:90%;
	top:10px;
}
.main_btn:hover {
    background-color: white;
    color: #001379;
}